<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARE</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/logo.jpg" type="image/x-icon">
</head>
<body>
<header>
    <h1>Care</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="contactus.html">Contact</a>
    </nav>
</header>


<main>
    <section id="product-list">
        <!-- Productos cargados por products.js -->
    </section>
</main>

<footer>
    &copy; 2025 Care. All rights reserved.
</footer>

<script src="js/products.js"></script>
</body>
</html>
